Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ganebabuk 
ganebabuk
/
nodejs-api-middleware-endpoint
uploads
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
nodejs-api-middleware-endpoint/.gitignore
@ganebabuk
ganebabuk initial commit
Latest commit e416612 14 days ago
 History
 1 contributor
39 lines (33 sloc)  502 Bytes

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

# local env files
.env*.local
